<!DOCTYPE html>
<html>
  <head>
    <title>Marketing 2 Marketers Client Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script type="text/javascript">


	$(document).ready(function(){
		$.get('/feed', function(data){
			//console.log(data); // Shows 6 Objects 
			console.log(JSON.stringify(data)); //Shows One large Text of all objects

			var newArray = JSON.stringify(data).replace(/<id>(.*?)<\/id>|<published>(.*?)<\/published>|(T\d.............)|&lt;span class=&quot;suffix&quot;&gt;:&lt;\/span&gt;/g, '').replace(/title|updated/g, 'div').replace(/<link rel=\\"alternate\\" type=\\"text\/html\\"/g, '<a');

			var newArray = JSON.parse(newArray); // Parses back into objects from text

			//console.log(newArray.length); // Shows 11 
			//console.log(newArray); // Shows 11 Objects 0-10


			for(var i = 0; i <= newArray.length - 1; i++){
				var newHtml = "";
				newHtml += newArray[i].entry + '</a>';
				//console.log(newHtml);
				$('#feed').append("<div class=\"entryfeed\">" + newHtml + "</div>" );
			}



		}); // Closing .get


		$.get('/news', function(data){
			for(var i = 0; i <= data.length - 1; i++){
				var newHtml = "";
				newHtml += newArray[i].entry + '</a>';
				//console.log(newHtml);
				$('#news').append("<div class=\"entryfeed\">" + newHtml + "</div>" );
			}
		}); // Closing .get

	}); // Closing document ready

</script>

</head>
  <body>

<div class="container-fluid">

	<div class="text-center top3"><img src="http://clientportal.marketing2marketers.info/AdShop/ClientPortal/ClientPortalImages/M2M-Logo-NoFont_Small.jpg" alt="M2M Logo"></div>
	
	<div class="row top2">
		<div class="col-md-8 col-md-offset-2">
			<div class="box green-box">
				<div class="green-box-title">
					<p class="text-center white-text">You</p>

				</div>
			</div>

			<div class="box purple-box">
				<div class="purple-box-title">
					<p class="text-center white-text">Conversation</p>
					<div id="feed" class="feed">

					</div>
				</div>
			</div>

			<div class="box gray-box">
				<div class="gray-box-title">
					<p class="text-center white-text">News</p>
					<div id="news" class="feed">

					</div>
				</div>
			</div>

			<div class="box blue-box">
				<div class="blue-box-title">
					<p class="text-center white-text">Work</p>
				</div>
			</div>
		</div>
	</div> <!-- Closing Row -->

	<div class="row top1">
		<div class="col-md-8 col-md-offset-2">
			<div class="box red-box">
				<div class="red-box-title">
					<p class="text-center white-text">Calander</p>
				</div>
			</div>

			<div class="box yellow-box">
				<div class="yellow-box-title">
					<p class="text-center white-text">Projects</p>
				</div>
			</div>

			<div class="box blue-box">
				<div class="blue-box-title">
					<p class="text-center white-text">You</p>
				</div>
			</div>

			<div class="box red-box">
				<div class="red-box-title">
					<p class="text-center white-text">You</p>
				</div>
			</div>
		</div>

	</div> <!-- Closing Row -->

	
	
</div> <!-- Container Fluid Closing -->



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>
</html>
