<!DOCTYPE html>
<html>
  <head>
    <title>Marketing 2 Marketers Client Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script type="text/javascript">

	$(document).ready(function(){
		$.get('/feed', function(data){
			console.log(data);

			var xmlDoc = $.parseXML(data);
			console.log("xmlDoc = " + xmlDoc);

			var xml = $(xmlDoc);
			console.log("xml = " + xml);

			var title = xml.find('title');
			console.log("title = " + title);

			$('#feed').html(data);

		}); // Closing .get

	}); // Closing document ready

</script>

</head>
  <body>

<div class="container-fluid">

<div id="feed"></div>

	<div class="text-center top3"><img src="http://clientportal.marketing2marketers.info/AdShop/ClientPortal/ClientPortalImages/M2M-Logo-NoFont_Small.jpg" alt="M2M Logo"></div>
	
	<div class="row top2">
		<div class="col-md-8 col-md-offset-2">
			<div class="box green-box">
				<div class="green-box-title">
					<p class="text-center white-text">You</p>
				</div>
			</div>

			<div class="box purple-box">
				<div class="purple-box-title">
					<p class="text-center white-text">You</p>
				</div>
			</div>

			<div class="box gray-box">
				<div class="gray-box-title">
					<p class="text-center white-text">You</p>
				</div>
			</div>

			<div class="box blue-box">
				<div class="blue-box-title">
					<p class="text-center white-text">You</p>
				</div>
			</div>
		</div>
	</div> <!-- Closing Row -->

	<div class="row top1">
		<div class="col-md-8 col-md-offset-2">
			<div class="box red-box">
				<div class="red-box-title">
					<p class="text-center white-text">You</p>
				</div>
			</div>

			<div class="box yellow-box">
				<div class="yellow-box-title">
					<p class="text-center white-text">You</p>
				</div>
			</div>

			<div class="box blue-box">
				<div class="blue-box-title">
					<p class="text-center white-text">You</p>
				</div>
			</div>

			<div class="box red-box">
				<div class="red-box-title">
					<p class="text-center white-text">You</p>
				</div>
			</div>
		</div>

	</div> <!-- Closing Row -->

	
	
</div> <!-- Container Fluid Closing -->



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>
</html>
