<!DOCTYPE html>
<html>
  <head>
    <title>Marketing 2 Marketers Client Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script type="text/javascript">


	$(document).ready(function(){
		$.get('/feed', function(data){

			var newArray = JSON.parse(data); // Parses back into objects from text
			console.log(newArray);
			for(var i = 0; i <= newArray.length - 1; i++){
				$('#feed').append("<div>" + newArray[i].creator.name +  " "  + newArray[i].summary + "</div><br /><div>" + newArray[i].excerpt + "</div>");
			}

		}); // Closing .get


		$.get('/news', function(news){
			//console.log(news.length); 17 news stories
			for(var i = 0; i <= news.length - 1; i++){
				var n = 0;
				n += 1 + i;
				var headlineHTML = "";
				var snippetHTML = "";
				headlineHTML += news[i].headline;
				snippetHTML += news[i].snippet;
				$('#news').append("<div class=\"newsfeed\">" + n + ") " + headlineHTML + "</div><br /><p>" + snippetHTML + "</p><br />");
			}
		}); // Closing .get

		$.get('/projects', function(projects){
			var projectObject = JSON.parse(projects);
			for(var i = 0; i <= projectObject.length - 1; i++){
				$('#projects').append("<div class=\"projectfeed\"><p>" + projectObject[i].name + "</p><a href=\"" + projectObject[i].app_url + "\">" + projectObject[i].app_url + "</a></div><br />");
			}
			//console.log(projectObject); 
			
		}); // Closing .get

		$.get('/calendar', function(calendar){
			var calendarObject = JSON.parse(calendar);
			for(var i = 0; i <= calendarObject.length - 1; i++){
				$('#calendar').append("<div><p>" + calendarObject[i].starts_at + "</p></div><div><p>Created By: " + calendarObject[i].creator.name + " </p></div><div><p>" + calendarObject[i].summary + "</p></div><div><a href=\"" + calendarObject[i].app_url + "\">" + calendarObject[i].app_url + "</a></div><br />");
			}
			//console.log(calendarObject); 
			
		}); // Closing .get





	}); // Closing document ready

</script>

</head>
  <body>

<div class="container-fluid">

	<div class="text-center top3"><img src="http://clientportal.marketing2marketers.info/AdShop/ClientPortal/ClientPortalImages/M2M-Logo-NoFont_Small.jpg" alt="M2M Logo"></div>
	
	<div class="row top2">
		<div class="col-md-8 col-md-offset-2">
			<div class="box green-box">
				<div class="green-box-title">
					<p class="text-center white-text">You</p>

				</div>
			</div>

			<div class="box purple-box">
				<div class="purple-box-title">
					<p class="text-center white-text">Conversation</p>
					<div id="feed" class="feed">

					</div>
				</div>
			</div>

			<div class="box gray-box">
				<div class="gray-box-title">
					<p class="text-center white-text">News</p>
					<div id="news" class="feed">

					</div>
				</div>
			</div>

			<div class="box blue-box">
				<div class="blue-box-title">
					<p class="text-center white-text">Work</p>
				</div>
			</div>
		</div>
	</div> <!-- Closing Row -->

	<div class="row top1">
		<div class="col-md-8 col-md-offset-2">
			<div class="box red-box">
				<div class="red-box-title">
					<p class="text-center white-text">Calander</p>
					<div id="calendar" class="feed">

					</div>
				</div>
			</div>

			<div class="box yellow-box">
				<div class="yellow-box-title">
					<p class="text-center white-text">Projects</p>
					<div id="projects" class="feed">

					</div>
				</div>
			</div>

			<div class="box blue-box">
				<div class="blue-box-title">
					<p class="text-center white-text">You</p>
				</div>
			</div>

			<div class="box red-box">
				<div class="red-box-title">
					<p class="text-center white-text">You</p>
				</div>
			</div>
		</div>

	</div> <!-- Closing Row -->

	
	
</div> <!-- Container Fluid Closing -->



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>
</html>
